<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
      <user-table></user-table>
    </div>
    
    <template id="pagination">
      <ul class="pagination">
        <li v-for="i in maxPages">
          <a href='#'
             :class="{'active': currentPage === i}"
             @click="$emit('change', i)">
            {{ i}}
          </a>
        </li>
      <ul>
    </template>
    
    <template id="user-table">
      <div>
        <header class="table-info">
          <p>
             Viewing {{ resultIndexBeg }} - {{ resultIndexEnd }} of {{ totalData }} results
          </p>
         <pagination-control
          @change="changePage"
          :current-page="page"
          :max-pages="totalPages">
        </pagination-control>
        </header>
        <table>
          <thead>
            <tr>
              <th v-for="col in userCols" :key="col">{{ col }}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in users" :key="user.id">
              <td>{{ user.id }}</td>
              <td>
                <img class="avatar" :src="user.avatar" alt="">
              </td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
            </tr>        
          </tbody>
        </table>
      </div>
    
    </template>
    <!-- built files will be auto injected -->
  </body>
</html>
