<template>
  <DataGrid data_url="/productlist" />
</template>

<script>
  export default {
    name: 'Products',
    components: {
      DataGrid: () => import('@/components/DataGrid'),
    }
  }
</script>