<template>
  <v-data-table
    :headers="DATAGRIDTITLE"
    :items="DATAGRIDCONTENT"
    :items-per-page="5"
    class="elevation-1"
  ></v-data-table>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'

  export default {
    props: ['data_url'],
    data () {
      return {
      }
    },
    computed: {
      ...mapGetters([
        'DATAGRIDTITLE',
        'DATAGRIDCONTENT',
      ]),
    },
    methods: {
      ...mapActions([
        'GET_GRID_DATA',
      ]),
    },
    mounted() {
      this.GET_GRID_DATA(this.data_url)
    }
  }
</script>